# Ignore python_libs folder
python_libs/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# Environment files
.env

# Byte-compiled files
*.pyc

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/